@{
    ViewData["Title"] = "Home Page";
}



<div class="container-content">
    <div class="welcome-text">
        <h2>
            Bem Vindo Ao Maior Biblioteca de Jogos do Brasil
        </h2>
        <div class="container-button">
            <div class="btn-discover">
                <a href="#">
                    Conhecer
                </a>
            </div>
        </div>
    </div>
</div>
