/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*MY STYLES*/

html {
    background-image: linear-gradient(25deg, #0d03ff, #8811bf, #aa2982, #ba4045);
    color: #FFF;
}

.container-main {
    background-image: linear-gradient(25deg, #0d03ff, #8811bf, #aa2982, #ba4045);
    width: 100%;
    height: 100% auto;
}

.container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar-top {
    width: 100%;
    height: 80px;
    background-image: linear-gradient( 25deg, #3c0151, #6a347b, #9964a8, #ca96d7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.content-left-title > a > h1 {
    color: #FFFF;
    font-size: 26px;
}

.content-right-menu > a {
    margin: 18px;
    color: #FFFF;
    font-size: 16px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #FFF;
}

    .welcome-text > h2 {
        color: #FFF;
    }

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.btn-discover {
    width: 200px;
    height: 50px;
    background-color: #FFF;
    padding: 13px;
    border-radius: 30px;
    transition: 0.2s;
}

    .btn-discover > a {
        text-decoration: none;
    }

    .btn-discover:hover {
        filter: brightness(80%);
        cursor: pointer;
    }


a{
    text-decoration:none;
}

.btn-default {
    border-radius: 34px !important;
    width: 120px !important;
    height: 50px !important;
    background-color: #FFF !important;
    text-align: center !important;
    padding: 12px !important;
    transition:0.2s;
}

    .btn-default > a {
        text-decoration:none;
    }

    .btn-default:hover {
        filter: brightness(80%);
    }


.title-page {
    color: #FFF;
    padding: 12px;
}

.control-label{
    color:#FFF;
}

dt,dd,h3{
    color:#FFF;
}

.btn-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}
